{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid" id="img-header-error-403">
        <div class="container">
            <h1>Vous n'avez pas l'autorisation d'accéder à ce contenu: erreur {{ status_code }}</strong></h1>
        </div>
    </div>

{% endblock %}