{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid" id="img-header-error-500">
        <div class="container">
            <h1>Une erreur s'est produite : erreur {{ status_code }}</strong></h1>
        </div>
    </div>

{% endblock %}