/* Html */

html p h1 h2 h3 a ul  {
    font-family: 'Open Sans', sans-serif;
}

/* Loader */
/*
.loader {

    position : fixed;
    z-index: 9999;
    background : url('ajax-loader(1).gif') 50% 50% no-repeat #ffffff;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}


/* Navabar */


.navbar-header img {
    width: 180px;
}

#myNavbar a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
#myNavbar li{
    border-right: 1px solid white;

}
.navbar .social-container{
    padding-right: 40px;
}
.fa {
    color: white;
}

.fa:hover{
    color: #00a1e5;
}
#myNavbar a{
    padding-top: 0;
    padding-bottom: 0;
}

#myNavbar li:last-child{
    border-right: none;
}
.navbar-nav{

    margin-top: 40px;
    margin-right: 50px;
}

.social_media {
    float: right;
    margin-right: 50px;
    height: 20px;
    visibility: hidden;

}


/**//**/ /**//**/
/* PAGE | VIDEO */
/**//**/ /**//**/

#img-header-video {
    background-image: url(../img/publireportage-lyon-klap-affaires.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    overflow: hidden;
    clear: both;
}

@media screen and (max-width: 1024px){
    #img-header-video {
    }
}

#img-header-video h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30%;
    color: #ffffff;
}

#img-header-video strong {
    color: #00a1e5;
}

.video-category h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 35px;
}

.video-category ul {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    padding-top: 10px;
}

.video-category li:hover{
    color: #00a1e5;
}

.video-category li {
    display: inline-block;
    padding-right: 35px;
    font-size: 1.5em;
}

#video-presentation h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#video-presentation h3 {
    font-size: 1.2em;
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-family: 'Open Sans', sans-serif;
}

.img-presentation {
    width : 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.text-presentation {
    padding-top: 9%;
    font-family: 'Open Sans', sans-serif;
}

.text-presentation2 {
    text-align: center;
}


/**//**//**//**/
/*   FOOTER   */
/**//**//**//**/


#footer-global {
    background-color: #363636;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
}

.logo-footer,
.social-container {
    padding-top: 40px;
    height: 150px;
}

.logo-klap {
    width: 180px;
    display: block;
}

@media screen and (max-width: 1024px){
    .logo-footer img {
        margin: 0 auto;
    }
}

.social-container ul,
.social-container p {
    text-align: right;
}

@media screen and (max-width: 1024px){
    .social-container ul,
    .social-container p {
        text-align: center;
    }
}

.social {
    display: block;
    margin-right: 0;
}

.social li {
    display: inline-block;
    padding-right: 35px;
    font-size: 1.5em;
}


.social li:hover {
    color: #00a1e5;
}


.contact-container {
    text-align: right;
}

.mentions-legales {
    text-align: left;
    padding-bottom: 30px;
}

@media screen and (max-width: 1024px){
    .mentions-legales,
    .contact-container {
        text-align: center;
    }
}
.category button,
.contact-container button {
    background-color: #00a1e5;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 150px;
    border: 0;
    height: 40px;
    font-size: 0.9em;
}

.category button:hover,
.contact-container button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #363636;
    font-size: 0.9em;
}

#mentions-legales {
    text-decoration: none;
    color: #ffffff;
}

#mentions-legales:hover {
    text-decoration: underline;

}