<footer class="container-fluid" id="footer-global">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-3 logo-footer">
                <a href="{{ path('front_index') }}"><img class="logo-klap" src="{{ asset('img/logo-klap-affaires-det.png') }}"></a>
            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-4 social-container">
                <p>Suivez-nous sur les réseaux sociaux :</p>
                <ul class="social-footer">
                    <li><a href="https://www.youtube.com/channel/UCCMSs4vsqVsx5iGDIfy9bfA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/KLAP-Affaires-697404090413474/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/RhneAlpesPassio" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="row" class="wrap-footer">

            <div class="col-xs-12 contact-container">
                <p>Discutons ensemble de votre projet :</p>
                <button>Contact</button>
            </div>

        </div>

        <div class="row" class="wrap-footer">
            <div class="col-xs-12 mentions-legales" >
                <a href="{{ path('front_legal') }}" id="mentions-legales">Mentions Légales</a>
                <p>Copyright 2016 - Klap Affaires <br />Développé par les élèves de la <a href="http://www.wildcodeschool.fr" id="wildcode">Wild Code School.</a> </p>
            </div>
        </div>
    </div>
</footer>