{% extends 'base.html.twig' %}

{% block title %}Klap Affaires | Nos catégories vidéos!{% endblock %}
{% block body %}
<div class="container-fluid" id="img-header-video">
    <div class="container">
        <h1>Nos <strong>reportages</strong> vidéos sur Lyon!</h1>
    </div>
</div>

<section class="container-fluid video-presentation">
    <div class="container">
        <div class="col-xs-12">
            <h2>Nos catégories de vidéos</h2>
            <hr />
            <h3><em> Interview - Ecriture de scénario - Tournage - Montage - Diffusion Youtube</em></h3>
        </div>
    </div>

    <!-- Image Category Grid -->


    <div class="row">
        <div class="grid" id="img-category">
            {% for categoryvideo in categoryVideos %}
            <div class="col-xs-12 col-sm-6 col-md-4">

                <figure class="effect-apollo">
                    <img src="{{ asset(category_picture ~ categoryvideo.picture) }}" alt="img18"/>
                    <figcaption>
                        <h2><span>{{ categoryvideo.categoryTitle }}</span></h2>
                        <p>{{ categoryvideo.shortDesc }}</p>
                        <a href="{{ path('front_videos', {'id': categoryvideo.id}) }}"></a>
                    </figcaption>
                </figure>

            </div>
            {% endfor %}
        </div>

    </div>


</section>

{% endblock %}
