{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid" id="img-header-video">
    <div class="container">
        <h1>Nos <strong>catégories</strong> de vidéos!</h1>
    </div>
</div>

<section class="container-fluid video-presentation">
    <div class="container">
        <div class="col-xs-12">
            <h2>Hook numéro 2</h2>
            <hr />
            <h3><em> Interview - Ecriture de scénario - Tournage - Montage - Diffusion Youtube</em></h3>
        </div>
    </div>

    <!-- Image Category Grid -->
    {% for categoryvideo in categoryVideos %}

    <div class="container-fluid">
        <div class="grid" id="img-category">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <figure class="effect-apollo">
                    <img src="{{ asset(category_picture ~ categoryvideo.picture) }}" alt="img18"/>
                    <figcaption>
                        <h2><span>{{ categoryvideo.categoryTitle }}</span></h2>
                        <p>{{ categoryvideo.shortDesc }}</p>
                        <a href="{{ path('front_videos', {'id': categoryvideo.id}) }}"></a>
                    </figcaption>
                </figure>
            </div>
        </div>

    </div>
    {% endfor %}

</section>

{% endblock %}
